name: CI Workflow 

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
  DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
  MLFLOW_TRACKING_URI: "https://dagshub.com/dhysyhtri/amazon-sales-mlflow.mlflow"
  MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout repository
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Setup Python
    - name: Setup Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # 3. Install Dependencies
    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow==2.19.0 dagshub pandas numpy scikit-learn joblib cloudpickle

    # 4. Run MLflow Project (Training + log ke DagsHub)
    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --env-manager=local --experiment-name "amazon-sales-ci"

    # 5. Get latest run_id
    - name: Get latest MLflow run_id
      id: get_run
      run: |
        run_id=$(python3 -c "import mlflow; runs=mlflow.search_runs(experiment_names=['amazon-sales-ci'], order_by=['start_time DESC'], max_results=1); print(runs.iloc[0].run_id)")
        echo "run_id=$run_id" >> $GITHUB_OUTPUT
        echo "Latest Run ID: $run_id"

    # 6. Verify MLflow Model Artifact
    - name: Verify MLflow Model Artifact
      run: |
        echo "Listing artifacts in model path..."
        mlflow artifacts list --run-id ${{ steps.get_run.outputs.run_id }} --artifact-path model

    # 7. Build Docker Image dari MLflow Model
    - name: Build Docker Image
      run: |
        cd MLProject
        IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/amazon-mlflow-model"
        TAG="latest"

        # Build Docker image
        mlflow models build-docker \
          -m "runs:/${{ steps.get_run.outputs.run_id }}/model" \
          -n "$IMAGE_NAME:$TAG" \
          --enable-mlserver

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker Image
      run: |
        IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/amazon-mlflow-model"
        TAG="latest"

        docker push "$IMAGE_NAME:$TAG"
